body {
	font-family: 'Poppins', sans-serif;
	max-width: 90%;
	margin: auto;
}

.title {
    text-align: center;
	margin-bottom: 100px;
}

.textcols {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 100px;
}

.textcols-item {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 30%;
	background: #fff2e1;
}

.textcols-item + .textcols-item {
	margin-left: 5%;
}

.text {
	text-align: justify;
	text-indent: 3%;
}

.caesar {
	text-align: center;
}

#output {
	outline: none;
  }

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.justify-content-around {
	justify-content: space-around!important;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

